:root {
    --primary-color: #9a1b89; /* Deep purple or purple*/
    --secondary-color: #bc47aa; /* Soft purple */
    --tertiary-color: #e1bee7; /* Light lavender */
    --button-padding: 16px 40px;
    --font-family: 'Poppins', sans-serif;
    --font-size: 18px;
    --letter-spacing: 2px;
    --glow-duration: 2s;
    --transition-duration: 0.4s;
  }



/* Hero Container */
.hero-container {
    position: relative;
    width: 100%;
    height: 80vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #000; /* Fallback background color */
  }
  
  /* Hero Text Section */
  .hero-tex {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 2; /* Higher z-index to appear above the image */
    color: white;
    text-align: left;
  }
  
  .hero-tex h2 {
    font-size: 3rem; /* Large hero text */
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.2;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
  
  .hero-tex button {
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .hero-tex button:hover {
    background-color: #ff3b2f;
  }
  
  /* Hero Image Section */
  .hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; /* Behind the text */
    overflow: hidden;
  }
  
  .hero-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 1; /* Slightly dimmed background image */
  }

  
  @media (max-width: 768px) {
    .hero-container{
        height: 60vh;
    }

    .hero-tex h2 {
      font-size: 2rem;
    }
  
    .hero-tex button {
      font-size: 1rem;
      padding: 0.6rem 1.2rem;
    }
  
    .hero-tex {
      left: 5%;
    }
  }
  